[2012-07-23 17:53] carlsonp opened #1 "Merge Changes with MininGit"
This is a fork of CVSAnalY:

https://github.com/SoftwareIntrospectionLab/MininGit

I did a diff between the two and there are quite a few differences.  It would be a lot to go through and merge but it might be something to consider.  Having a common platform instead of two separate groups might speed further development.

Just something to think about.  Cheers.

[2012-07-26 17:56] canasdiaz commented on #1
According to the name the main issue is that the fork only supports Git. In any case it will be good to have a look.

Thanks!

[2012-07-26 18:11] carlsonp commented on #1
Based on the Readme it looks like it supports other version control systems (CVS, SVN, etc.).  My personal experience with it has only been using Git though.

[2012-07-31 17:32] sduenas opened #2 "Crash while building filepaths"
Running cvsanaly against PETALS repository, we get the next error

[code]

[2012-08-20 14:57] sduenas opened #3 "File with two paths in the same commit"
Analyzing the CVSAnalY repository, I've found a file that has two different paths in the same commit. The action applied to that file was a MOVE. I think this is an error because the path must be stored only once per each file.

I haven't check this behaviour in other repositories.

[code]

[code]

[2012-09-14 17:35] sduenas commented on #3
It seems that "pycvsanaly/FindProgram.py" was added for the first time in branch 1. The commit where this file has two paths is in commit 85, applied to branch 2. For any reason, FindProgram was not added to this brach but it's deleted. Thus, this file is added twice to file_links but in branch 2.

[code]

[2012-09-15 15:13] dicortazar opened #4 "Error when running "Months" extension for more than one project in the same database"
Months extension basically takes the minimum and maximum date of a project and and insert a row per month (between that minimum and maximum).

However, when this extension is run for several repositories in the same database (imagine this is run for the list of projects at Metrics Grimoire) and the Months extension is run for all of them, a crash will be raised given that the extension will try to

[2012-09-16 21:24] jgbarah commented on #4
On Sat, 2012-09-15 at 08:13 -0700, Daniel Izquierdo wrote:

When I wrote it, it was intended to be run _after_ all repositories had
been analyzed. However, it makes sense (and it is easy) to let it be run
in any moment, and just check whether the table exists and delete it
before refilling it, or just refill it...

If nobody oposes, I can do that easily.

##

http://identi.ca/jgbarah            ht

[2012-09-20 12:16] acs opened #5 "CommitsLOCDet duplicates date in several executions"
If you execute the CommitsLOCDet extension more than one time against the same database the data is duplicated. The extension should remove the previous data, maybe removing the tables and creating new ones.

[2012-09-21 09:17] jgbarah commented on #5
My fault. That extension was supposed to be incremental, but obviously that is failing. I will have it a look. Thanks for finding the problem.

[2012-09-21 09:18] jgbarah commented on #4
Nobody oposes, so I will do the change.

[2012-09-21 09:21] dicortazar commented on #4
Thanks! :)

[2012-10-20 14:08] dicortazar opened #6 "Mailing list for contact is wrong in Readme file"
This should be https://lists.libresoft.es/listinfo/metrics-grimoire

[2012-10-20 14:09] dicortazar commented on #4
Advances?

[2012-10-25 15:07] dicortazar opened #7 "Error when using MySQL >=5.5 and creating tables using Myisam by default"
By default CVSAnalY is creating main tables (actions, scmlog, etc) with the MyISAM engine.

If you are running extensions such as FileTypes, those are using the engine by default in the system. And this means that in MySQL >= 5.5, this won't properly work and an error like this one will be raised:

ERROR 1005 (HY000): Can't create table 'XXX' (errno: 150).

Thus, it is necessary to specifically in

[2012-10-25 15:11] #7 closed, assigned to dicortazar

[2012-10-25 15:14] dicortazar opened #8 "Error when using MySQL >=5.5 and creating tables using Myisam by default in CommitsLOC extension"
Similar to bug #7.

MySQL >= 5.5 is using INNODB by default and there is a problem when using two different engines and creating a relationship between those two tables.

[2012-10-25 15:16] dicortazar commented on #8
bug fixed, and updated the creation of the mysql table with a myisam engine

[2012-10-25 15:16] #8 closed, assigned to dicortazar

[2012-10-25 15:25] dicortazar commented on #6
updated file

[2012-10-25 15:27] #6 closed, assigned to dicortazar

[2012-10-25 21:22] dicortazar opened #9 "Error message wrongly raised: "Invalid extension Weeks""
When installing CVSAnalY from scratch and not all of the libraries and dependencies are installed, for specific extensions ("Months" and "Weeks") the "Invalid extension Weeks" (or Months) is raised.

To re-try this bug, please do not install the library to connect python and sqlite: python-pysqlite2. Then if CVSAnalY is run with the following options: "cvsanaly2 --db-user=xxx --db-password=xxx --d

[2012-10-25 21:41] dicortazar opened #10 "Error when using MySQL >=5.5 and creating tables using Myisam by default in Metrics extension"
As similar and previous errors, tables must be created following the same engine than for main tables.

If note, after 5.5 version of MySQL, by default the engine is innodb

[2012-10-25 21:44] #10 closed, assigned to dicortazar

[2012-10-25 21:46] dicortazar commented on #10
And also fixed in the case of Patches extension

[2013-01-11 03:00] kjhyoo opened #11 "Error when running some git repo"
Hi,

When I tried to analyze a git repository, I faced the following error.

---

Parsing log for webkit-efl/ (git)
Exception in thread Thread-2:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 551, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 504, in run
    self.__target(_self.__args, *_self.__kwargs)
  File "/usr/local/lib/

[2013-01-11 12:09] sduenas commented on #11
That's an error from your MySQL server. Probably CVSAnalY lasts too long analyzing the log and there's no interaction with your server. MySQL waits for some time and if it has not received any data from the client, it closes the connection. You can configure your connection time out value setting **wait_timeout** variable in _/etc/mysql/my.cnf_. The value is in seconds.

More info in http://dev.my

[2013-01-11 12:09] #11 closed, assigned to nobody

[2013-01-14 09:36] kjhyoo commented on #11
Thank you for your help!
Finally, I've analyzed.

I changed mysql setting (/etc/mysql/my.cnf )
max_allowed_packet      = 64M (In the past value, 16M)

[2013-01-21 12:58] kjhyoo opened #13 "2 Errors when running CVSAnalY"
I need your help...
- for GIT

Git URL : review.tizen.org/framework/uifw/elementary.git

---

Parsing log for framework/uifw/elementary (git)
Traceback (most recent call last):
  File "/usr/local/bin/cvsanaly2", line 5, in <module>
    pkg_resources.run_script('cvsanaly2==2.1.0', 'cvsanaly2')
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 499, in run_script
    self.require(requi

[2013-01-21 14:32] dicortazar commented on #13
Hello kjhyoo,

Thanks for your bug report!

Please, could you specify the exact git clone command you have used for cloning the repository?.

I've tried git clone git://review.tizen.org/framework/uifw/elementary.git and git clone https://review.tizen.org/framework/uifw/elementary.git, but none of them work.

Regarding to the first one:

Cloning into 'elementary'...
fatal: The remote end hung up un

[2013-01-22 11:39] kjhyoo commented on #13
Hi Daniel,

I just followed the Tizen web-site (https://source.tizen.org/documentation/developer-guide/environment-setup),
(You have to sign in https://review.tizen.org/gerrit/ and register you public ssh key)

My ssh config file :

---

Host review.tizen.org
    Hostname review.tizen.org
    IdentityFile ~/.ssh/id_rsa
    User [user]
    Port 29418

---

And this is my git clone command (it's wor

[2013-01-22 15:38] dicortazar commented on #13
Ok, thanks.

Regarding to the SVN project, I also get the same error even once downloaded. So, my next try is to simply download the svn log (svn -v log) just to check that this is being properly downloaded.

[2013-01-22 15:58] dicortazar commented on #13
Hi again,

The command does not work. So regarding to the SVN project, this is not an issue of CVSAnalY, but of the log of the project Enlightenment. My suggestion is to go there and open a bug report  or directly talk with enlightenment developers.

After running the command (I previously downloaded the svn) I get the following error:

$ svn -v log > enlightenment_log.txt

svn: REPORT de '/svn/e/

[2013-02-14 22:37] ricardogarfe opened #14 "Error runnig libcvsanaly2 generation script"
## Output error

[code]
## Run command

[code]
## Environment
- MetricsGrimoire repository master branch
- [libcvsanaly2 master branch](http://git.libresoft.es/libcvsanaly2/).
- Python 2.7
- MySQL Ver 14.14 Distrib 5.5.29
- Ubuntu 12.04

[2013-02-14 22:39] ricardogarfe opened #15 "Error runnig libcvsanaly2 activity script"
## Output error

[code]
## Run command

[code]
## Environment
- MetricsGrimoire repository master branch
- [libcvsanaly2 master branch](http://git.libresoft.es/libcvsanaly2/).
- Python 2.7
- MySQL Ver 14.14 Distrib 5.5.29
- Ubuntu 12.04

[2013-02-14 22:40] ricardogarfe opened #16 "Error runnig libcvsanaly2 fm3 script"
## Output error

[code]
## Run command

[code]
## Environment
- MetricsGrimoire repository master branch
- [libcvsanaly2 master branch](http://git.libresoft.es/libcvsanaly2/).
- Python 2.7
- MySQL Ver 14.14 Distrib 5.5.29
- Ubuntu 12.04

[2013-02-14 22:42] ricardogarfe opened #17 "Error runnig libcvsanaly2 commits-types script"
## Output error

[code]
## Run command

[code]
## Environment
- MetricsGrimoire repository master branch
- [libcvsanaly2 master branch](http://git.libresoft.es/libcvsanaly2/).
- Python 2.7
- MySQL Ver 14.14 Distrib 5.5.29
- Ubuntu 12.04

[2013-02-14 22:43] ricardogarfe opened #18 "Error runnig libcvsanaly2 tops script"
## Output error

[code]
## Run command

[code]
## Environment
- MetricsGrimoire repository master branch
- [libcvsanaly2 master branch](http://git.libresoft.es/libcvsanaly2/).
- Python 2.7
- MySQL Ver 14.14 Distrib 5.5.29
- Ubuntu 12.04

[2013-02-14 22:44] ricardogarfe opened #19 "Error runnig libcvsanaly2 ltools script"
## Output error

[code]
## Run command

[code]
## Environment
- MetricsGrimoire repository master branch
- [libcvsanaly2 master branch](http://git.libresoft.es/libcvsanaly2/).
- Python 2.7
- MySQL Ver 14.14 Distrib 5.5.29
- Ubuntu 12.04

[2013-02-14 23:26] ricardogarfe commented on #14
Add the patch using gists to solve issues #14, #15, #16, #17, #18 and #19

https://gist.github.com/ricardogarfe/4957332

[2013-04-08 17:02] andygrunwald commented on #9
I can reproduce this error.

[2013-04-08 18:21] andygrunwald commented on #9
I`ve created a small improvement for this errormessage.
@dicortazar maybe you has some time to have a look at it?

[2013-04-26 16:55] linzhp commented on #1
Hi, I am one of the developers maintaining MininGit. As CVSAnalY doesn't only support CVS, MininGit doesn't only support Git:) As it is forked from CVSAnalY in 2010, it support CVS and SVN as much as what CVSAnalY supported at that point. However, we fixed some bugs related to parsing Git, and since we only used it to extract git repositories, we didn't test the changes on CVS and SVN repositories

[2013-04-26 17:05] andygrunwald commented on #1
Hey @linzhp it would be cool if you can create one or many pull requests for this changes.
I'm not a developer of CVSAnalY, but i'm using it and try to improve it

[2013-04-26 17:09] linzhp opened #29 "Using a Git library?"
CVSAnalY is using repositoryhandler to parse the output of git command. My impression is that the output format of git command is slightly different in different version of git, which may break CVSAnalY. [This post](http://stackoverflow.com/a/1479669) lists several Python Git modules. They may be more independent on the output format of git command.

[2013-04-26 17:14] linzhp commented on #1
OK. I will try to do it on my own time

[2013-04-26 17:16] andygrunwald commented on #1
Thx. I try to have a look at this later on

[2013-05-08 17:21] canasdiaz commented on #1
On 26/04/13 19:14, Zhongpeng Lin wrote:

great :)

##

|_____/| Luis Cañas-Díaz
  [o] [o]  lcanas@bitergia.com - Software Engineer
  |  V  |  http://www.bitergia.com
   |   |   "Bridging the gap between developers and stakeholders"
-ooo-ooo-

[2013-05-21 16:18] iKuba opened #30 "Failed to generate Metrics on git repository"
Hello I am trying to generate all metrics of an eclipse git project.

I am executing the following command:

cvsanaly2 -u root -p password --metrics-all

This returns the following output:

Parsing log for /root/org.eclipse.e4.tools (git)
Warning: Detected empty branch 'pwebster/start_421', it'll be ignored
Warning: Detected empty branch 'integration', it'll be ignored
Warning: Detected empty bran

[2013-05-21 16:22] sduenas commented on #30
To execute extensions you have to add --extensions param to the command. With this param you can set which extensions you want to execute. For your case, the command is:

cvsanaly2 -u root -p password --extensions Metrics --metrics-all

[2013-05-21 16:22] #30 closed, assigned to nobody

[2013-05-21 16:26] iKuba commented on #30
I see, thank you very much for the quick response!

[2013-05-24 11:07] athanrous opened #31 "Error while running CVSAnaly with opensuse kernel-source"
I face the following error while trying to analyse the kernel-source repository
[see git clone git://gitorious.org/opensuse/kernel-source.git]

zoumpis@linux-sn3j:~/.cvsanaly2/cache> cvsanaly2 --db-user root --db-password root --db-database cvsanaly_kernel_sources /home/zoumpis/git/kernel-source/
Parsing log for /home/zoumpis/git/kernel-source/ (git)
Exception in thread Thread-2:
Traceback (most r

[2013-05-27 17:07] andygrunwald opened #32 "Add support for a table prefix"
If you use CVSAnaly in a database where tables already exists, the table listing of the database looks a little bit confusing.
Because you cant see the tables of CVSAnaly with one look.

Second if you got already a table with a name (e.g. scmlog) you got a table name conflict.

Due to this "problems" it might be useful to configure a table prefix.
This table prefix will add to every table / view.

[2013-06-01 04:36] acs opened #39 "Prob Parsing repository from MediaWiki"
acs@lenovix:/tmp$ git clone https://gerrit.wikimedia.org/r/p/mediawiki/extensions/cldr
acs@lenovix:~/devel/CVSAnalY$ ./cvsanaly2 -g -u root -p xxxx -d acs_cvsanaly_mediawiki_1598 /tmp/cldr/
BG: SELECT max(id) from tag_revisions
Parsing log for /tmp/cldr/ (git)
['git', 'log', '--all', '--topo-order', '--pretty=fuller', '--parents', '--name-status', '-M', '-C', '--decorate=full', 'origin']
DBG: Comm

[2013-06-01 05:00] acs commented on #39
Fixed by

https://github.com/MetricsGrimoire/CVSAnalY/commit/341e813eebc86e132e43ba5407f0bbc72f788956

[2013-06-01 05:00] #39 closed, assigned to acs

[2013-06-11 13:35] maelick opened #42 "Files which are never created or modified"
There are many files which are never created. For example in [Tomboy](https://git.gnome.org/browse/tomboy/) I have 5143 entries in the files table but only 4514 are actually references in actions (i.e. 629 which are never touched). Moreover only 3202 have been created (added or copied) at least one. Using a bigger repository like [Evolution](https://git.gnome.org/browse/evolution/) this becomes ev

[2013-08-09 15:54] iKuba opened #44 "Useful Query in Queries.md is incorrect"
What is the intention of the queries found in section 44?

The explanation as follows: Project size in LOC / SLOC per unit of time leads me to believe that the goal of the query is to finding the TOTAL LOC/SLOC of the project over time. The provided query only produces the LOC/SLOC of the files committed in a given period and does not take into account that files may be created and deleted in that

[2013-08-12 20:21] andygrunwald commented on #9
Now a more useful error message will be deployed. #9 was merged.

[2013-08-12 20:21] #9 closed, assigned to nobody

[2013-08-12 20:53] andygrunwald commented on #4
The change which was mentioned by @jgbarah was made in https://github.com/MetricsGrimoire/CVSAnalY/commit/f5150c12f7c8a35587321d47cce9ba3292186d28#pycvsanaly2/extensions/Months.py

See https://github.com/MetricsGrimoire/CVSAnalY/blob/master/pycvsanaly2/extensions/Months.py#L100

So i will close this ticket because this is solved.
If anyone of you, @jgbarah or @dicortazar disagree, please let me kn

[2013-08-12 20:53] #4 closed, assigned to jgbarah

[2013-08-12 21:17] andygrunwald commented on #15
In #14 @ricardogarfe has posted the fix of this ticket.

Mailinglist post: https://lists.libresoft.es/pipermail/metrics-grimoire/2013-January/002090.html
Fix: https://gist.github.com/ricardogarfe/4957332

New mailinglist post to fix this finally: https://lists.libresoft.es/pipermail/metrics-grimoire/2013-August/002234.html

[2013-08-12 21:17] andygrunwald commented on #16
In #14 @ricardogarfe has posted the fix of this ticket.

Mailinglist post: https://lists.libresoft.es/pipermail/metrics-grimoire/2013-January/002090.html
Fix: https://gist.github.com/ricardogarfe/4957332

New mailinglist post to fix this finally: https://lists.libresoft.es/pipermail/metrics-grimoire/2013-August/002234.html

[2013-08-12 21:17] andygrunwald commented on #17
In #14 @ricardogarfe has posted the fix of this ticket.

Mailinglist post: https://lists.libresoft.es/pipermail/metrics-grimoire/2013-January/002090.html
Fix: https://gist.github.com/ricardogarfe/4957332

New mailinglist post to fix this finally: https://lists.libresoft.es/pipermail/metrics-grimoire/2013-August/002234.html

[2013-08-12 21:17] andygrunwald commented on #18
In #14 @ricardogarfe has posted the fix of this ticket.

Mailinglist post: https://lists.libresoft.es/pipermail/metrics-grimoire/2013-January/002090.html
Fix: https://gist.github.com/ricardogarfe/4957332

New mailinglist post to fix this finally: https://lists.libresoft.es/pipermail/metrics-grimoire/2013-August/002234.html

[2013-08-12 21:17] andygrunwald commented on #19
In #14 @ricardogarfe has posted the fix of this ticket.

Mailinglist post: https://lists.libresoft.es/pipermail/metrics-grimoire/2013-January/002090.html
Fix: https://gist.github.com/ricardogarfe/4957332

New mailinglist post to fix this finally: https://lists.libresoft.es/pipermail/metrics-grimoire/2013-August/002234.html

[2013-08-12 21:18] andygrunwald commented on #14
New mailinglist post to fix this finally: https://lists.libresoft.es/pipermail/metrics-grimoire/2013-August/002234.html

[2013-08-12 21:20] andygrunwald commented on #2
Hey @sduenas,

can you reproduce this error with the latest versions of RepositoryHandler and CVSAnaly?
I tried to reproduce it, but i wasnt successful:

[code]

[2013-09-13 16:12] andygrunwald commented on #2
30 days no reply.
If @sduenas got the problem again please open a new ticket. Thx :)

[2013-09-13 16:12] #2 closed, assigned to nobody

[2013-09-26 10:04] ccervigon opened #45 "Problem with added and removed lines by authors in project Tempest"
I found a problem when analyzing the project Tempest. The author with the most commits appears without added and removed lines. But if you see the commits on Github the author does add and remove lines.

Info:

mysql> use openstack_tempest_cvsanaly;

mysql> select \* from people where id = 8;
+----+---------+------------------------------+
| id | name    | email                        |
+----+----

[2013-09-30 10:32] canasdiaz commented on #45
Could you please send us the command line you use and the version of cvsanaly? Thank you!

[2013-10-02 15:48] canasdiaz opened #46 "Cache file seems to be mandatory"
We're having errors with a corrupt cache file. A cache file shouldn't be mandatory, if it is not present, it should be updated by cvsanaly and never a mandatory requirement.

[code]

[2013-10-02 16:35] canasdiaz commented on #46
We saw this error comparing the result of the incremental mode and running cvsanaly from scratch using different databases, same user and a copy of the git clones.

[2013-10-03 11:13] ccervigon commented on #45
tthebosss@tthebosss-ubuntu:~$ cvsanaly2 --version
2.1.0

I execute:

~/Escritorio/vizGrimoire/VizGrimoireR/examples/github/vg-github.py --user tthebosss --passwd XXX \
  --dir /tmp/temp --removedb --ghuser tthebosss --ghpasswd XXX \
  --vgdir ~/Escritorio/vizGrimoire openstack/tempest

OR

tthebosss@tthebosss-ubuntu:~/Escritorio/projects/tempest$ cvsanaly2 -u tthebosss -p XXX -d openstack_tempest_

[2013-10-03 11:14] ccervigon commented on #45
https://github.com/VizGrimoire/VizGrimoireR/blob/master/examples/github/vg-github.py

[2013-10-12 17:12] jgbarah opened #47 "Error with git version "1.8.4.rc3""
When running current (fresh from git repo) CVSAnalY with git version "1.8.4.rc3" (current in Debian testing) I get:

[code]

Running git --version I get:

[code]

My guess is that CVSAnalY doesn't like characters as a part of the git version id...

[2013-10-12 19:19] jgbarah commented on #47
Oooops. This is not a CVSAnaly bug. It was due to an old RepositoryHandler I had installed. I just upgraded it, and no problem at all. Sorry for the noise.

[2013-10-12 19:19] #47 closed, assigned to nobody

[2013-10-12 20:40] andygrunwald commented on #47
Yep. This was fixed some days ago: https://github.com/MetricsGrimoire/RepositoryHandler/commit/f9e18ebf3cf87796d526b0db0dff8a2f246b7461

[2013-10-20 16:21] andygrunwald commented on #46
@sanacl can you provide more information about this issue?
E.g. which commands do you got executed?
This helps us to reproduce the error. thx.

[2013-10-20 16:23] andygrunwald commented on #13
Is this issue still up to date or was it fixed in the meantime?

[2013-10-20 16:41] andygrunwald commented on #44
Hey @iKuba,

you are right. So you propose to measure the _touched_ lines over time?
THis might make sense. Thanks for this.
Did you got a solution for this task? An alternative query? Or maybe a better description for the current query?

Sadly at the moment i got no time to have a deeper look at it. But maybe you got an good idea.

[2013-10-20 16:44] andygrunwald commented on #42
Hey @maelick,

can you provide more information on this topic?
E.g. which CVSAnaly2 + Repository version do you use? What are the commands you executed? Which extensions were actived?

[2013-10-20 16:48] andygrunwald commented on #29
Hey @linzhp,

good catch!
But i think we have to move RepositoryHandler to a git library, because make sense to provide an interface for all SCMs like repository handler.
What do you think? Does it make sense to move this issue to RepositoryHandler?

[2013-10-20 16:50] andygrunwald commented on #5
Hey @jgbarah,

any new information here?

[2013-10-20 16:54] linzhp commented on #29
Agreed. Let me close this one and open another one in RepositoryHandler

[2013-10-20 16:54] #29 closed, assigned to nobody

[2013-10-20 17:01] andygrunwald commented on #31
Hey @athanrous,

thanks for your report.
Sadly i can not reproduce your error:

[code]

Did you try to raise the max_packet_size of your MySQL server? See here https://github.com/MetricsGrimoire/CVSAnalY#useful-settings

[2013-10-20 17:04] andygrunwald commented on #29
Thanks! You will open a new one? This would be great!

[2013-10-20 17:04] iKuba commented on #44
I do have a solution, unfortunately it's somewhat messy. I have exams this week so I will get back to you after they are over.

[2013-10-20 17:07] andygrunwald commented on #44
It does not matter that is messy. We can clean up :)
Thanks! And good luck for your exams.

[2013-10-29 15:55] athanrous commented on #31
Hey @andygrunwald

Thanks for your tip. The problem is now solved.

[2013-10-29 15:55] #31 closed, assigned to nobody

[2013-11-27 12:37] maelick commented on #42
Using last version of CVSAnaly
(3d67e700902e54d8ac3cfac60169e80b68d70f4e) on Tomboy
(https://git.gnome.org/browse/tomboy/) last version
(cea2c730f3fe135067a26aafd6dd258348932662) without extensions in an
empty MySQL database:

[code]

Then I used to following SQL queries to compute total number of files
and number of files that have been created (add or copy action on it).

[code]

This gives 3218

[2013-11-27 13:01] andygrunwald commented on #42
Thanks for this detailed description.
Sadly i wont have time to have a look now (and until february), but maybe some other  team members can have a look now.

[2013-11-27 15:20] maelick commented on #42
Here's more information.

I created a simple test git repository as follow:

[code]

It contains a single file, two branches with one commit each modifying the file.
This gives the following content for table actions:

[code]

Running CVSAnalY in debug mode shows that when the second commit (the
one on the "test" branch) is added to the database the file searched
in the cache is "<branch_id>://fil

[2013-12-08 22:57] andygrunwald commented on #42
Hey @maelick,

a big thank you the detailed test case.
I can reproduce this behaviour.
And i`ve tested your change. At a first look it seems to work. This is the next big thank you :)

Would you be so nice to create a pull request with your changes?
If you do not get the time for this. I can do this for you.
After this we are waiting for another reviewer.

What do you think :) ?

[2013-12-09 10:16] maelick commented on #42
Pull request sent ;)

However this solves the problem only partially.

For example there is still a problem with this this dummy repository:

[code]

In this case the file is removed from branch master but was modified on the second branch. What happens is that CVSAnalY first processes the commits from the master branch, and then the commits from the second branch. This means that when the commit

[2013-12-09 12:33] sduenas commented on #42
This is a matter of how CVSAnalY was designed. I'm going to use the last case that @maelick posted to show you what the rationale is behind this. It's not really easy to explain (even in Spanish! and my English is not so good) so please, ask me anything that you don't understand.

First of all, you have to take into account that our main source is the repository log. The key idea is to track the c

[2013-12-10 14:39] maelick commented on #42
Thanks for your clarification. I understand why there is branch_id field in the actions table. However my concern was not about the branch_id field in the actions table. Moreover you mentioned also branch_id field in the files table but there aren't (only repository_id). When I mentioned branch id it isn't related to the database schema but in the python source code of CVSAnalY. For example [those

[2013-12-10 14:51] maelick commented on #42
Talking of design, I think the problem is strongly tight with the difference between files and file_links ([see](https://github.com/MetricsGrimoire/CVSAnalY/blob/master/help/doc/cvsanaly.texi#L890-L915)). I think it's a really nice feature but unfortunately I fear it causes a lot of problems. Thinking about the Evolution case that I mentioned earlier, there is a little less than 5 millions entries

[2013-12-13 19:23] sduenas commented on #42
Files need to be related to branches because the content of a file can be different between branches, can be deleted (as you wrote) in one branch and not in the others, can be replaced by other files, etc. These is useful for extensions like Metrics. Metrics extension retrieves the contents of files (to calculate sloc and other metrics) and you have to specify from which branch you get that file.

[2013-12-13 19:29] sduenas commented on #42
I forgot to mention that you can reconstruct the file tree of a repository for a given revision... but it's very tricky. CVSAnalY was never designed to do that in an easy way because the fastest and reliable way of getting it is using the source code repository by itself. They were designed for it :)

[2013-12-17 14:58] maelick commented on #42
I still don't get why there need a branch id in both actions and files. What bothers me even more is that the branch_id is not in the files table but in the cache. You told that it is because SVN can modify the same file on many branches in the same commit that you need the files being specific for each branch. OK but then why not putting it into the files table? Moreover if the goal is also to av

[2014-01-07 10:01] maelick opened #52 "GNOME gbook cache file mismatch"
Experienced the following error when extracting [GNOME's gbook](https://git.gnome.org/browse/archive/gbook/) using last CVSAnalY version:

[code]

[2014-02-23 10:23] andygrunwald opened #63 "[Git] Timezone of author are not respected"
During some testing of pull requests of @linzhp i recognized that the time zone of commits are not respected.
The `git log` of input.tar.gz in test/ directory shows something like:

[code]

The `scmlog` table only stores `2014-02-11 22:10:39` (see last commit), without the timezone.

I my opinion, the timezone should be stored, too.
This information can be used for analysis how distributed the dev

[2014-02-23 10:29] andygrunwald opened #64 "Warning: Detected empty branch 'master', it'll be ignored"
If you extract the test/input.tar.gz and start a analysis on this via cvsanaly2, the output says that the master branch is empty:

[code]

In my understanding a master branch can`t be empty if there are commits in it. Isn`t it?
Or i am wrong?

[2014-02-23 10:30] andygrunwald opened #65 "Metrics extension fails on input.tar.gz analysis"
If you extract the test/input.tar.gz and start a cvsanaly analysis on this with enabled Metrics extension, there is an error shown:

[code]

[2014-02-23 18:20] linzhp commented on #65
This should have fixed in #60

[2014-03-19 20:52] andygrunwald commented on #65
Fixed in #60

[2014-03-19 20:52] #65 closed, assigned to nobody

[2014-03-27 16:53] dicortazar commented on #63
I totally agree with you, and for both: time of committer and time of author.

[2014-03-27 16:55] dicortazar commented on #63
btw, the issue here is that MySQL does not store the TZ in the date field, so we should probably create another field similar to the one found in the Mailing List Stats "Messages" table.

[2014-03-27 16:59] andygrunwald commented on #63
+1
How the implementation details looks like i didn`t thought about yet.
But maybe i will implement it. Thanks for your suggestion.
Of course you can implement this as well ;)

[2014-03-27 17:05] jgbarah commented on #63
Maybe we could try to rise this a bit in our priority list. This issue has popped up several times: having TZ information would allow us to make TZ analysis for commits, which in some cases could be rather interesting.
And yes, using the MLStats approach is the best one, in my opinion.

[2014-03-27 17:07] andygrunwald commented on #63
Can you provide a link to the mentioned solution?
I didnt know this

Am Donnerstag, 27. März 2014 schrieb Jesus M. Gonzalez-Barahona :

[2014-03-27 17:38] jgbarah commented on #63
It is just the *_tz fields in the messages table, which stores the difference with UTC in seconds. See the schema at: https://github.com/MetricsGrimoire/MailingListStats/wiki/Database-Schema

For CVSAnalY, I guess we would need date_tz and author_date_tz, to be filled in with difference with UTC (eg, +3600 for CET, +7200 for CEST) when storing the corresponding datetime. Since the difference is av

[2014-03-27 21:25] andygrunwald commented on #63
At a first look (without a research) it looks logical :)

[2014-03-27 21:37] andygrunwald commented on #19
As far as i know (and remember our talk @ FOSDEM 2014) the libcvsanaly2 are deprecated and should not be used anymore.
This is the reason why i close this issue.
If you need this scrips anyway @ricardogarfe has posted how to fix this in https://github.com/MetricsGrimoire/CVSAnalY/issues/14

[2014-03-27 21:37] #19 closed, assigned to nobody

[2014-03-27 21:37] andygrunwald commented on #18
As far as i know (and remember our talk @ FOSDEM 2014) the libcvsanaly2 are deprecated and should not be used anymore.
This is the reason why i close this issue.
If you need this scrips anyway @ricardogarfe has posted how to fix this in https://github.com/MetricsGrimoire/CVSAnalY/issues/14

[2014-03-27 21:37] #18 closed, assigned to nobody

[2014-03-27 21:37] andygrunwald commented on #17
As far as i know (and remember our talk @ FOSDEM 2014) the libcvsanaly2 are deprecated and should not be used anymore.
This is the reason why i close this issue.
If you need this scrips anyway @ricardogarfe has posted how to fix this in https://github.com/MetricsGrimoire/CVSAnalY/issues/14

[2014-03-27 21:37] #17 closed, assigned to nobody

[2014-03-27 21:37] andygrunwald commented on #16
As far as i know (and remember our talk @ FOSDEM 2014) the libcvsanaly2 are deprecated and should not be used anymore.
This is the reason why i close this issue.
If you need this scrips anyway @ricardogarfe has posted how to fix this in https://github.com/MetricsGrimoire/CVSAnalY/issues/14

[2014-03-27 21:37] #16 closed, assigned to nobody

[2014-03-27 21:37] andygrunwald commented on #15
As far as i know (and remember our talk @ FOSDEM 2014) the libcvsanaly2 are deprecated and should not be used anymore.
This is the reason why i close this issue.
If you need this scrips anyway @ricardogarfe has posted how to fix this in https://github.com/MetricsGrimoire/CVSAnalY/issues/14

[2014-03-27 21:37] #15 closed, assigned to nobody

[2014-03-27 21:37] andygrunwald commented on #14
As far as i know (and remember our talk @ FOSDEM 2014) the libcvsanaly2 are deprecated and should not be used anymore.
This is the reason why i close this issue.
If you need this scrips anyway @ricardogarfe has posted how to fix this in https://github.com/MetricsGrimoire/CVSAnalY/issues/14

[2014-03-27 21:37] #14 closed, assigned to nobody

[2014-03-27 21:40] andygrunwald commented on #44
Hey @iKuba,
do you passed your exams? I hope so.
Can you provide the mentioned solution? Thanks!

[2014-03-27 21:43] andygrunwald commented on #13
Hey @dicortazar and @kjhyoo,
any update on this?
Is this issue still up to date or was it fixed in the meantime?

[2014-03-27 21:50] andygrunwald opened #71 "Make it possible to run CVSAnalY in parallel"
With the current version of CVSAnaly you can only run the tool once per database at the same time.
But you can analyze various repositories in one database.

For large analysis suites and a message driven and scalable systems it might be useful to run several cvsanaly process at the same time.
I got a real world use case for this.

One problem is the creation of a temp table with a fixed name. We

[2014-03-27 21:51] iKuba commented on #44
Yes, I did thanks! I will have to check if I still have this query.
On Mar 27, 2014 5:49 PM, "Andy Grunwald" notifications@github.com wrote:

[2014-03-28 07:02] shiona opened #72 "CommitsLOCDet crashing"
I'm testing using CVSAnaly git repo as test environment. Using python 2.7.6 I get "TypeError: 'long' object is not iterable". I'm using extensions CommitsLOCDet, Metrics and FileTypes.
Full log: http://pastebin.com/DMD7fbSm

[2014-03-31 10:44] andygrunwald opened #73 "Take care of database scheme changes / migrations"
In https://github.com/MetricsGrimoire/CVSAnalY/pull/62 we discussed how to deal with database scheme changes / possible database migrations between CVSAnaly versions.

This issue is how to solve this challenge.
Please see https://github.com/MetricsGrimoire/CVSAnalY/pull/62 for further details

[2014-03-31 11:12] sduenas commented on #71
I have the memory that with the current architecture it will really hard. But it is just a feeling. I do not remember well the details, although I remember problems with temporal tables (you also point at it) and key tables, that are generated by CVSAnalY and not by the DBMSs.

[2014-03-31 18:22] lilireli opened #74 "extensions doesn't seem to work with svn"
Hello,

I'm using cvsanaly to parse the logs of one subversion repository, and I tried to run differents extensions (CommitLOC and Metric), they both run at infinite, with no error message. I tried with subset of my repo and they run continuously whatever the size of the repo.

[2014-03-31 18:51] andygrunwald commented on #74
Hey @lilireli,
can you offer your configuration (config file)?
And is this subversion repository public available that we can reproduce it?
And can you offer your command you executed?

[2014-04-01 10:00] sduenas commented on #72
I've been analyzing CVSAnalY repository, using HEAD version of the tool. I didn't find any problem. Can you confirm you are using CVSAnalY as repo test and which revision you are analyzing?

[code]

[code]

[2014-04-01 19:40] lilireli commented on #74
Hey,

I tried different ways. First I used the config file provided as exemple, changing the information I needed (as shown under). I was running the command:
      _cvsanaly2 http://my_url_

####### config file ######
debug = False
quiet = False
profile = False

db_driver = 'mysql'
db_user = 'root'
db_password = 'kartoffel'
db_database = 'development'
extensions = ['CommitsLOC']
#################

[2014-04-01 21:43] jgbarah commented on #74
Have you tried to run the same setup (same version of CVSAnalY, same environment, etc.) with some other (if possible, simple) Subversion repository? Just to discard that there is some trouble with the setup.

[2014-04-03 13:54] shiona commented on #72
Yes, I'm using this repo as testing material

Back when I reported this I was
d86c4496f33deb90e6f2f40f9fa01b5e8fddb1b8
now I tried (which to my understanding is the HEAD at the moment):
857e104d5205157f945fb75ae0f25d36841322c8
and got the same error as before.

Both versions were their own test subject.

[2014-04-03 15:31] sduenas commented on #72
I've just updated the code of CommitsLOCDet extension. Can you try it again? Your problem should be fixed now. It was related with the version of MySQLdb you are using.

[2014-04-03 15:48] shiona commented on #72
Worked like charm. Thank you!
The change you made seems very strange.
Is there a bug in the version of my mysqldb or is that how it is intended to work?

[2014-04-03 16:17] sduenas commented on #72
No, it is not a bug.
The problem was we were passing as argument to `execute` method a long object and not a sequence. Some versions of `MySQLdb` allow passing both (as mine) but others doesn't (as yours) because require a sequence.
I close this bug.

[2014-04-03 16:17] #72 closed, assigned to sduenas

[2014-04-03 19:18] lilireli commented on #74
Hi,

I tried with a public folder, the problem is the same. However I get the
following error:

Parsing log for /tmp/extjs (svn)
Executing extensions
Executing extension CommitsLOC
Traceback (most recent call last):
  File "/usr/local/bin/cvsanaly2", line 5, in <module>
    pkg_resources.run_script('cvsanaly2==2.1.0', 'cvsanaly2')
  File "build/bdist.linux-i686/egg/pkg_resources.py", line 528, in

[2014-04-07 18:27] andygrunwald opened #76 "Make CVSAnaly + RepositoryHandler installable via pip"
Hey,

i saw a cvsanaly package on PyPi: https://pypi.python.org/pypi/cvsanaly/1.0
But no RepositoryHandler package.

I think it would be much more easier for people to use CVSAnaly if the can install the current version via pip.
What do you think?

Regarding this tutorial it seems to be very easy: https://pythonhosted.org/an_example_pypi_project/setuptools.html

I would take care of this, if you a

[2014-04-07 18:30] andygrunwald opened #77 "Create a new release of CVSAnaly: 2.2.0 / 3.0.0"
Hey,

the last release (2.1.0) is long time ago (ca. 2 years).
I would like to release a new (stable) version and upload it to pip (see https://github.com/MetricsGrimoire/CVSAnalY/issues/76).
The same i would like to suggest for RepositoryHandler.

I like to use a stable version in production and not the current master.

What do you think?
What steps are necessary to release a new version?  Raise

[2014-04-07 18:34] andygrunwald opened #78 "debian/ files needed?"
I saw a folder "debian/" in the CVSAnaly source: https://github.com/MetricsGrimoire/CVSAnalY/tree/master/debian

* What is the reason of this files?
* Are they needed?
* What they do?
* Are they further references about this?
* Is this to provide an own debian package?

[2014-04-08 06:02] shiona commented on #64
We've come across the same error. In our case initial testing would suggest cvsanaly does not understand branches that have no head i.e. have been merged with --no-ff in git.

[2014-04-08 06:05] andygrunwald commented on #64
When does this happen?
If a branch is merged into master with `--no-ff`?
I does not understand the warning.
@shiona can you explain this more in detail?

[2014-04-08 06:11] shiona commented on #64
I will have to do some more testing before I can say anything definite about this. I'll try to recreate the problem with a simple repo.

[2014-04-08 06:15] jgbarah commented on #78
Yes, this was intended to be used to produce a Debian package. We have discussed several times if this had sense, or should be added by a Debian maintainer or something. And I'm not sure it is working now. To be honest, I don't know if it is better to remove the directory, or to try to update it to make it work according to current Debian standards.

[2014-04-08 06:30] andygrunwald commented on #78
From my point of view i would suggest to remove / extract it.
I didn`t know a source code / tool which ships debian package files with it.
Further more it is not really a part of the domain logic of CVSAnaly

What do you think about to extract this files into a seperate repository?
With this both needs are filled:
- Get rid of it in the CVSAnaly source code
- Add the possibility to upgrade this sc

[2014-04-08 06:31] andygrunwald commented on #64
@shiona You can reproduce it with out input.tar.gz from our test folder: https://github.com/MetricsGrimoire/CVSAnalY/blob/master/tests/input.tar.gz
This is such a repo which is
- simple
- reproduce the warning

[2014-04-08 18:14] andygrunwald opened #79 "Content-Extension: AttributeError: 'NoneType' object has no attribute 'strip'"
If i run CVSAnalY with the git repo of CVSAnalY with this config:

[code]

and command `./cvsanaly2 -d cvsanaly_before -f ./config .`

I got some errors:

[code]

[2014-04-08 18:17] andygrunwald commented on #42
@sduenas @maelick Any updates here?

[2014-04-08 18:21] andygrunwald commented on #44
@iKuba Any updates here?

[2014-04-08 18:31] iKuba commented on #44
I don't have access to the source anymore ):

It wasn't a very nice query if I remember correctly..  It involved some
really complicated unions so it probably wasn't the best solution anyways...
On Apr 8, 2014 2:27 PM, "Andy Grunwald" notifications@github.com wrote:

[2014-04-08 22:25] jgbarah commented on #78
I understand your views, and here is precisely the discussion we have had in the past. On one hand, the /debian dir could be considered as external to CVSAnalY. On the other, it could be conisdered just as a goody, something that can be used "our of the box" to get a deb package.

Maybe the best thing would be to fork CVSAnalY somewhere, like a "Debian fork", and maintain the /debian dir there? Ju

[2014-04-16 23:49] sduenas commented on #74
I think this is not a bug in CVSAnalY. From my point of view it's a problem related to SVN servers. Usuarlly, SVN servers are slow and commands like `svn diff` are even more slower.

`svn diff` is a time consuming operation (I don't really know why) in which the connection between client and server must be kept alive for a long amount of time. For instance, to get the result from the command `svn

[2014-04-20 17:39] andygrunwald opened #82 "Remove "if __name__ == '__main__':" code?"
During the development of CVSAnaly i discover many "debugging" code which is executed if the file is called directly.

E.g. https://github.com/MetricsGrimoire/CVSAnalY/blob/master/pycvsanaly2/DBContentHandler.py#L673

Is this piece of code in use?
I do not use it. Do you use it for debugging?
Or can such code deleted?

[2014-04-28 18:02] lilireli commented on #74
I agree with you, the diff commands are really slow when computed by cvsanaly, I did the same and it was around one hour for one diff. However (and there I'm sorry not knowing more about how svn server works) when I run the same command by myself I can retrieve the result quite quickly (less than 1 minute). Is it normal ? Can't I do anything to speed a little bit up cvsanaly ?

[2014-04-30 09:52] sduenas commented on #74
It's odd. I've been checking it again and it took the same time running the command in a terminal than by CVSAnalY. Maybe, when you run the command, the data was cached in memory but I'm not sure what SVN servers do on these cases.
Anyway, I'm going to have a look to the code and try to find a way to speed up the process.

[2014-04-30 11:34] andygrunwald opened #83 "New extension: Detect commits migrated from svn to git"
In https://github.com/MetricsGrimoire/CVSAnalY/pull/81 @linzhp mentioned a cool feature:
Mark commits which was done in a subversion repo, if a repo was migrated from subversion to git.

Those commits are often contain a string like "git-svn". (see https://github.com/MetricsGrimoire/CVSAnalY/pull/81#issuecomment-41643638).

This would be a useful information. Espacially for timezone analysis (filt

[2014-05-23 11:21] mniemela commented on #64
We have had this issue with CVSAnaly. I have been trying to read the source code from file GitParser.py where the warning seems to come from. It seems like there's some bug in if clause at row 169. However, there are few comments in the code, so I'd like to ask some questions.

1) What's self.branch? Is it the branch to which the last inspected commit belonged to?

2) What's branch? Is it the bran

[2014-06-03 16:47] sduenas commented on #64
Sorry for my late response but I didn't have much time until today to check this problem. I've been working on this during the morning and these are my conclusions:
- An **empty branch** is a branch that has been fully merged into other branch. This means that all the commits from that branch were merged into an active branch.
  For example, think on a topic branch to fix an issue. You make a new

[2014-06-04 09:33] mniemela commented on #64
Hi,

Yes, it does look like the branch CVSAnaly is ignoring is the remote master rather than local master. It's a good question if that's actually a problem, and honestly I have no idea. At least 'deprecated' would be a less confusing word than 'empty.

Anyways, when I did the same git operations to the test repository as what we talked about in IRC. It looks like when two branches' HEAD points to

[2014-06-06 07:32] mniemela commented on #64
Hi again,

We have noticed some other errors, for example in extensions/FileRevs.py error CommandError is not imported even though it's used in line 95, should I import it and/or commit the fix somewhere?

Then there are some problems with Metrics extension, for some reason I got this error when trying out Metrics with the same test repository:

Error obtaining bbb/something@c0d66f92a95e31c77be08d

[2014-06-06 07:50] jgbarah commented on #64
Thanks a lot for the info. Would you mind opening separate tickets for each of these issues, so that we can focus on them one by one? In any case, of course if you submit a pull request for that CommandError thing, that's perfect, we will review it asap.

[2014-06-06 08:53] mniemela opened #85 "Error Path does not exist with Metrics extension"
I tried Metrics extension with a simple test repository (test repository in issue 64 thread: https://github.com/MetricsGrimoire/CVSAnalY/blob/master/tests/input.tar.gz ) and got this error

Error obtaining bbb/something@c0d66f9. Command ['git', 'show', u'c0d66f92a95e31c77be08dc9d0f11a16715d1885:bbb/something'] returned 128 (fatal: Path 'bbb/something' does not exist in 'c0d66f92a95e31c77be08dc9d0f

[2014-06-06 08:56] mniemela commented on #64
Ok, I created a pull request about the CommandError thing and created this issue:

https://github.com/MetricsGrimoire/CVSAnalY/issues/85

Sorry about posting about them here, I answered an email and didn't realize that it would be posted here. :P

[2014-06-06 12:20] mniemela commented on #85
Looks like c0d66f92a95e31c77be08dc9d0f11a16715d1885 is the commit where file bbb/something was renamed to bbb/something.renamed.

[2014-06-09 07:19] mniemela commented on #85
I added some test outputs to Metrics.py a few lines before the error is printed in code, and I got confusing results. The test ouputs were different during different runs, does the extension use several threads or something?

This output makes sense, as path is same in test outputs and the error:

path: bbb/something
self.path: bbb/something
Error obtaining bbb/something@c0d66f92a95e31c77be08dc9d0

[2014-06-09 08:55] mniemela commented on #79
I'm probably stating the obvious, but self.path is None which causes the exception. Is this supposed to happen in any circumstances?

[2014-06-09 14:38] andygrunwald commented on #64
Hey,

thanks for this good discussion.
I don`t know either if this a problem or not, but i agree @sduenas that "empty" is not the perfect term.
In git there are two arguments which are related to this problem:
- `git branch --merged`
- `git branch --no-merged`

Maybe we should not change the term only, but the whole sentence.
I created a PR (https://github.com/MetricsGrimoire/CVSAnalY/pull/86) to

[2014-06-09 16:49] sduenas commented on #85
I found the problem. This is related to some code that we removed some months ago. We didn't remember what that code was supposed to do, so we deleted it on 45b31b0e28923b89cf5601fe7cf9fc34128d9f51 (see the discussion here #53)

Metrics.py uses FileRevs.py to get the revisions ids (or commits) where each file was added, modified, etc. The problem is it also returns revisions where files were delet

[2014-06-09 16:52] andygrunwald commented on #13
No update since 20. October 2013.
I will close this issue. If we got more information we will open it again.

[2014-06-09 16:52] #13 closed, assigned to nobody

[2014-06-09 16:54] andygrunwald commented on #85
@sduenas Thanks for investigating.
As far as i see only the action type 'D' is necessary and not everything like V, C and so on, right?
To move the code to Metrics would be more useful. I agree.

[2014-06-09 17:14] sduenas commented on #64
+1

[2014-06-10 12:35] #85 closed, assigned to sduenas

[2014-06-10 12:37] sduenas commented on #85
I've also included 'V' (move) action to the list because it doesn't change the metric values of a file.

[2014-06-26 07:06] mniemela opened #88 "AttributeError: MetricsJob instance has no attribute 'measures'"
I got this error when running CVSAnaly with Metrics to a repository:

  File "/usr/local/lib/python2.7/dist-packages/cvsanaly2-2.1.0-py2.7.egg/pycvsanaly2/extensions/Metrics.py", line 665, in get_measures
    return self.measures
AttributeError: MetricsJob instance has no attribute 'measures'

[2014-06-26 20:58] andygrunwald commented on #88
Hey @mniemela, can you port your command you try to execute?
Thanks.

[2014-06-27 06:37] mniemela commented on #88
This is the command I'm trying to execute:

cvsanaly2 -u cvsanaly -p cvsanaly --extensions=CommitsLOC,FileTypes,Metrics

Also, this is the repository I'm using for testing:

https://github.com/nathanmarz/storm

[2014-08-09 14:04] #64 closed, assigned to nobody

[2014-08-13 00:20] rodrigokuroda opened #89 "Mercurial support"
Is there any support for mercurial repositories, or planning to implement it?

[2014-08-13 19:16] andygrunwald commented on #89
Hey @rodrigokuroda,

currently there is no support for mercurial repositories.
And as far as i know there is no plan to implement it.

But if you want to start with it feel free :)
I would like to see mercurial support as well.
A good start will be to implement mercurial to [RepositoryHandler](https://github.com/MetricsGrimoire/RepositoryHandler) which acts like a kind of base system of CVSAnaly.

[2014-08-27 10:28] mniemela commented on #88
Looks like I screwed up in my previous bug fix ( https://github.com/MetricsGrimoire/CVSAnalY/pull/87 ), which could result in MetricsJob not having 'measures' attribute if there's no path for the commit. I fixed this by moving creating the 'measures' attribute a few rows earlier in the code. I created a new pull request for this fix: https://github.com/MetricsGrimoire/CVSAnalY/pull/90

[2014-08-27 11:21] andygrunwald commented on #88
This is fixed by #90

[2014-08-27 11:21] #88 closed, assigned to nobody

[2014-08-27 17:06] jgbarah commented on #89
Hmmm. I'm not completely sure, because I haven't checked, but my guess is that CVSAnalY could easily analyze a mercurial repo if the repo is cloned using [git-hg](https://github.com/cosmin/git-hg) or a similar tool, and later just running CVSAnalY on the resulting git repo.

It would be great if somebody (maybe you, @rodrigokuroda ? ) have some minutes to test this approach, and either confirm tha

[2014-08-28 22:35] rodrigokuroda commented on #89
Ok, @andygrunwald, thank you for your answer.
As soon as possible I'll try your sugestion, @jgbarah. Thanks!

[2014-09-01 11:40] mniemela opened #91 "Metrics -extension: Most columns are NULL in database table metrics"
After executing CVSAnalY with Metrics, most of the columns in database table metrics are null. Is this a matter of stuff not being implemented, or is there a bug?

[2014-09-01 11:53] sduenas commented on #91
To execute Metrics extension, you have to install first sloccount, cccc and python-metrics packages. All of them are in Debian.
Please check if you have them installed.

[2014-09-01 14:23] andygrunwald commented on #91
Maybe this should be documented in a good way.
We need several tools:
- kdsi
- halstead
- mccabe
- pymetrics
- cccc
- sloccount

For details have a look at https://github.com/MetricsGrimoire/CVSAnalY/blob/master/pycvsanaly2/extensions/Metrics.py and search for "find_program".

[2014-09-01 18:54] linzhp commented on #91
Looks like the Mccabe metrics for Java is not implemented. So if you are analyzing Java source files, those columns will be empty

[2014-09-01 20:58] andygrunwald commented on #91
I added a small chapter about this tools into the readme: https://github.com/MetricsGrimoire/CVSAnalY/commit/a6b09b9beec293944ee9c72e994c6d3b52567688
Sadly i can`t find (fast) the links of mccabe, halstead and kdsi tool.
Do you know where this is located?

@linzhp: You are right. Metrics for many languages are not implemented. Maybe this kind of implementation needs refactoring as well. But feel f

[2014-09-02 05:57] linzhp commented on #91
I am implementing mccabe for Java. Checkout https://github.com/linzhp/CVSAnalY/tree/mccabe_for_java. Will create a pull request once it's done.

[2014-09-02 08:53] mniemela commented on #91
Btw, where can you find kdsi and halstead for debian? A quick googling session didn't find those packets.

[2014-09-02 09:25] sduenas commented on #91
@mniemela Try with the `cmetrics` bundle (https://github.com/MetricsGrimoire/CMetrics)

[2014-09-02 09:26] sduenas commented on #91
@linzhp Thanks! Sounds great!

[2014-09-02 10:29] mniemela commented on #91
Also, maybe Metrics should print some error if the additional packages haven't been installed?

[2014-09-02 10:35] andygrunwald commented on #91
Good idea. Can you create a PR for this?

Am Dienstag, 2. September 2014 schrieb Mikael :

[2014-09-03 13:18] mniemela commented on #91
Hmm, it looks like there are printouts for situations when programs are not installed. However, for some reason I didn't get them when running Metrics.

[2014-09-06 16:12] andygrunwald commented on #91
@sduenas does CMetrics provide kdsi, halstead and mccabe executables?

[2014-10-02 02:52] rodrigokuroda opened #93 "Changed code metric"
Hi,
Is there an extension or a complementary tool for CVSAnalY to calculate the changed code metric (a.k.a. code churn - added, removed, and changed lines) for each file revision?

[2014-10-02 07:58] jgbarah commented on #93
Hi, Rodrigo. You better make this kind of questions in the mailing list: https://lists.libresoft.es/listinfo/metrics-grimoire

In any case, probably you are looking after the CommitsLOC extension, have a look in the extensions directory. It provides you with lines added / removed per file per commit, according to what you can measure from the commit patch (that is, they are wc lines). Have into ac

[2014-10-02 07:58] #93 closed, assigned to nobody

[2014-10-02 23:47] rodrigokuroda opened #94 "Error in CommitsLOC extension"
This error is occurring during extensions execution, specifically the CommitsLOC.

[code]

But the svn diff command is successfully executed.

[code]

I note that the svn diff output is large and it may be causing this error.

After the error occurring, I try to CRTL+C to exit from process, but another possible error happens:

[code]

[2014-10-03 00:04] rodrigokuroda commented on #94
I think that I found the cause of this error.

In the line 70 of pycvsanaly2/extensions/Patches.py, instead:

[code]

should be:

[code]

[2014-10-03 08:02] #94 closed, assigned to nobody

[2014-10-03 08:03] andygrunwald commented on #94
I merged PR #95, so this bug is fixed and can be closed as well, right?
If not, please reopen. Thanks!

[2014-10-07 01:30] rodrigokuroda commented on #74
I'm having the same problem. I also noticed that the "svn diff" is a slow process.
Anyway, in this case, the parameter "--metrics-noerr" shouldn't work?

The output log of the respective command is as follow:

[code]

[2014-11-25 22:29] falahat opened #96 "RepositoryHandler not found"
Upon running python setup.py install, I received this error:

"error: Could not find suitable distribution for Requirement.parse('repositoryhandler>=0.3')"

It was fixed when I manually installed repositoryhandler. One solution could be to make repositoryhandler listed as a prerequisite or be automatically installed.

[2014-11-26 08:08] andygrunwald commented on #96
Thanks @Aryan-Barbarian.
There are several ways to install RepositoryHandler.
You can clone the repository as well and put this path into your $PYTHONPATH-Env variable.

Or you can install it as you did.

If you want to improve the product, feel free to make a Pull Request :)

[2014-11-30 19:29] #96 closed, assigned to nobody

[2014-12-12 08:47] sduenas commented on #63
Closed by #81

[2014-12-12 08:47] #63 closed, assigned to nobody

[2015-05-27 07:59] jsmanrique opened #97 "Update README"
Provide an updated README

[2015-05-27 09:33] andygrunwald commented on #97
@jsmanrique Can you name some parts which are outdated or you like to see to change?
This would be easier for contributers like me to handle this :)

[2015-05-27 10:01] jsmanrique commented on #97
I think that @dicortazar knows better which parts. AFAIK: scripts and libcvsanaly2 parts are deprecated

[2015-05-27 10:14] dicortazar commented on #97
I'd say that the "scripts" section in the Readme file is deprecated.

[2015-06-19 20:38] linzhp commented on #42
Regarding to @sduenas's comment about "Files need to be related to branches", I would say yes and no.

Yes, file _content_ needs to be related to branches, and with `content` table created by `Content` extension, this can be easily achieved by relating commit_id and file_id to `actions` table.

And no, file _id_ should not be related to branches. If we want to analyze how a specific file evolves o

[2015-12-09 11:52] sanacl opened #99 "Invalid UTF8 character"
[code]

[2015-12-14 12:55] sduenas commented on #99
In order to reproduce the error, I need to know which is the repository that you are analyzing.

[2016-01-02 23:39] andygrunwald commented on #78
After some time about it. These are "just" some files. Doesn`t matter.
Lets focus on more important things ;)

[2016-01-02 23:39] #78 closed

[2016-01-02 23:40] andygrunwald commented on #82
After some thoughts. Just useful for testing.

[2016-01-02 23:40] #82 closed

[2016-01-02 23:48] andygrunwald commented on #32
After some thoughts: It make more sense to run those tools in seperate databases (e.g. in terms of microservices).
Table prefixes are not needed anymore (by me). Because of no feedback i will close it as "won't fixed".

[2016-01-02 23:48] #32 closed

[2016-01-03 17:41] andygrunwald commented on #77
No feedback. Seems to be not important.

[2016-01-03 17:43] #76 closed

[2016-01-03 23:52] jgbarah commented on #77
@andygrunwald sorry for not taking care of this. I guess it is important/interesting. If you're still volunteering for that, just comment here, and I will help you as much as I can to do this.

[2016-01-21 00:31] eddieantonio commented on #77
:+1:

My MSR class tried setting up this tool, but because some of us were on Ubuntu, some on OS X, and some on Windows, it was just a gong show. A `pip` package with a `requirements.txt` that includes MetricsGrimoire/RepositoryHandler would be very nice!

[2016-01-21 08:14] gregoriorobles commented on #77
For a tutorial I gave last year on CVSAnalY and the other MetricsGrimoire
tools, I used the following script [1] - based on Ubuntu's history to
install it.It may help to some extent, at least until there is a better way
as you propose:

  [1] http://gsyc.es/~grex/2015-sattose/bash_history.txt

  regards, Gregorio

2016-01-21 1:31 GMT+01:00 Eddie Antonio Santos notifications@github.com:

##

Gregor

[2016-01-24 13:09] rodrigoprimo commented on #14
@andygrunwald I found this issue while looking for more information about libcvsanaly2. If it is deprecated and should not be used anymore, maybe it is a good a idea to remove the reference to it in CVSAnalY Readme.md (https://github.com/MetricsGrimoire/CVSAnalY/blob/master/README.md) file or add a warning there? Are there alternatives available?

[2016-01-28 10:55] sanacl opened #100 "Repeated repo name when analyzing repos with deep URIs"
The field 'name' of the repositories table is useless when we have different repos with different URIs but same last token. Example:

[code]

This bug affects GrimoireLib due to it gets SCM data grouping by 'name'. This bug was repored by the Wikimedia folks (https://phabricator.wikimedia.org/p/jayvdb/) in the following ticket https://phabricator.wikimedia.org/T123808#1970520

[2016-03-02 16:16] iganchevup8 opened #101 "Negative values when analyzing time deltas between commits in a given project"
Hello,

not quite sure what causes this problem. I am analyzing a free software project and more specially time-deltas between commits. For an unknown reason I have negative values in some fields. When looking more carefully, there seems to be an issue with indexing system when inserting commits into the database. Here is an example:

6 	475 	2011-01-05 11:58:49 	51 days 09:23:28
7 	477 	2011-01-0

[2016-03-02 22:20] jgbarah commented on #101
Are you having time zones into account? Remember that times in git are local to the repository where the commit happens, not UTC. Timezones are in the date_tz field.

If you're having tz into account, then we need to look for some other reason...

[2016-03-03 15:01] iganchevup8 commented on #101
Yes, both commits are from the same user, and thus, same time-zone. Here is an extract of the scmlog table:

[code]

You can see that commit 480 occurred before commit 479, but was indexed as if it happened after it.

Here is a git log excerpt: http://pastebin.com/PcTT5RKP
Things seem OK.

Looking forward to provide more info if needed.

##

**edit** Forgot to say that this is not the only negativ

[2016-03-03 23:59] jgbarah commented on #101
I see. Nothing related to TZ. Thanks for the clarification.

Re-reading your original comment, and this one, I'm not sure if I understand what you mean. It seems that you assume that the id field is a sequence number, or something? If this is the case, it is _not_. It is only a unique id for each commit, which is based on the order the git log is presented to the CVSAnalY parser. Since usually the

[2016-03-04 10:36] iganchevup8 commented on #101
Hello Jesus,

Yes, I was clearly assuming that the ID is a sequence number that represents the order of commits. Already analyzed couple of svn projects and IIRC this was the case. I might be wrong. Anyway your comment explains everything. I just need to re-index on date column. I downloaded only a particular branch and cvsanaly supposedly analyzed only this branch. There should be no commits from

[2016-03-04 10:36] #101 closed

[2016-03-04 23:26] jgbarah commented on #101
Please, have in mind that usually you're not "downloading only a particular branch". Usually, you clone the whole git repo, and then checkout some specific branch (even if you do that with only one operation). In this respect, git works differently from svn. In fact, for svn, it is likely that the order in CVSAnalY database reflects the sequence order, because of the way svn log parsing works in C

[2016-04-18 08:25] carlosviansi opened #103 "error: Could not find suitable distribution for Requirement.parse('repositoryhandler>=0.3')"
I  am getting the following error when attempting to use python setup.py install on an OS X El Captain. Any thoughts on how to solve this? I am mainly looking for a tool that returns LOC for every commit per file, so if the project is no longer active and someone could redirect me to the portion of code that performs this in CVSAnalY I would appreciate it!

[code]

[2016-04-18 10:18] gregoriorobles commented on #103
Hi,

  you can/should install from the sources:

git clone https://github.com/MetricsGrimoire/RepositoryHandler.git
cd RepositoryHandler
(sudo) python setup.py install

  regards, Gregorio

2016-04-18 10:25 GMT+02:00 Carlos Andrade notifications@github.com:

##

Gregorio Robles
Universidad Rey Juan Carlos
http://gsyc.urjc.es/~grex

[2016-04-18 10:46] carlosparadis commented on #103
Hey @gregoriorobles, thank you for the very quick response. That was a silly mistake on my part. It runs just fine now. I have one more question, but since it is unrelated I will open another issue and close this one.

[2016-04-18 10:46] #103 closed

[2016-04-18 10:47] carlosviansi opened #104 "what are the tools associated to each extension?"
Is there documentation anywhere that explains which of the following extensions:

[code]

Are associated to the metrics section on the README:

[code]

Or description of them individually? I am particularly interested in calculating LOC for all file revisions and comment lines if possible on Java and C files. halstead and mccabe would be a plus, but I am unsure what languages those two are availab

[2016-06-28 08:47] binarykittenDE opened #106 "Package repositoryhandler was not found"
Hey guys,

I try to use the programm on 'Oracle VM VirtualBox' in an 'Ubuntu (64-bit) 16.04 LTS'.
I am not a big linux-pro, so i googled most of what i have to do.

First I downloaded  CvsAnalY and the RepositoryHandler.

Than i installed the RepositoryHandler with` sudo python setup.py install` (installed in  `/usr/local/lib/python2.7/dist-packages/repositoryhandler` ).

I set the environment var

[2016-06-28 09:17] franziska-haaf commented on #106
Btw `pkg-config --list-all` shows that i knows repositoryhandler

[2016-06-28 09:39] sduenas commented on #106
Hi,

can you open a Python interpreter (i.e ipython) in your terminal, run the next code and put the output here.

First, run this (it should fail):

[code]

Next, run the next statements:

[code]

[2016-06-28 09:56] franziska-haaf commented on #106
I created a test.py file and executed it with `python test.py`
The first statements returned:
`/usr/local/lib/python2.7/dist-packages/repositoryhandler/__init__.pyc`
So no fail.

The second statements:
`['/home/franni/Downloads', '/usr/lib/python2.7', '/usr/lib/python2.7/plat-x86_64-linux-gnu', '/usr/lib/python2.7/lib-tk', '/usr/lib/python2.7/lib-old', '/usr/lib/python2.7/lib-dynload', '/usr/local

[2016-06-28 10:13] sduenas commented on #106
That means Python interpreter can find the library so the problem is anywhere else.

Mmmm. Why did you do this? After installing Repository Handler you tried to install CVSAnalY and it didn't work? I think this is only useful in some cases. In most of the cases just installing repositoryhandler first and then cvsanaly should work.

Btw, I thik this variable should point to `/usr/local/lib/python2.

[2016-06-28 10:39] franziska-haaf commented on #106
When i tried to install CVSAnalY after installing the RepositoryHandler i got an error
`Package repositoryhandler was not found in the pkg-config search path.
Perhabs you should add the directory containing 'repositoryhandler.pc' to the PKG_CONFIG_PATH environment variable
No package 'repositoryhandler' found`

Oh and yes, it was an typo :) it is `/usr/local/lib/python2.7/dist-packages/repositoryh

[2016-06-28 10:39] #106 closed

[2016-06-28 10:43] sduenas commented on #106
Cool! Nice to hear. You're welcome.

[2016-12-13 17:41] bvasiles commented on #99
The `Invalid utf8 character string: '800228'` warning happens when analyzing CVSAnalY's repository.

[2017-01-02 02:55] benmishkanian opened #107 "Support Windows"
I tried to run this on Windows 10 x64 with Python 2.7 .13, and it does not work. I tried to fix it myself but it seems there are multiple issues. The first error was that cvsanaly2 depends on environment variable $HOME which is not necessarily defined on Windows. After defining that manually, it always says my repository "doesn't seem to point to a repository supported by cvsanaly" even though it

[2017-01-04 00:42] jgbarah commented on #107
As far as I know, there are no plans to support Windows. Pull requests are welcome, as long as they don't break Linux-like (well, maybe Unix-like) systems, that have always been our reference platform. Sorry about that, most of us don't even have a Windows box handy.

[2017-01-04 01:16] benmishkanian commented on #107
Thanks for your response. I might submit some PRs to help with it if I have
the time.

On Jan 3, 2017 4:42 PM, "Jesus M. Gonzalez-Barahona" <
notifications@github.com> wrote:

[2017-01-05 19:56] jgbarah commented on #107
Thanks a lot! I'm closing this for now, then.

[2017-01-05 19:56] #107 closed

[2018-09-20 17:26] jorgechollet commented on #99
In DBTempLog.py, both INSERT statements on table _temp_log may need the keyword "_binary" before the third placeholder inside "values".

For example, current statement:
"INSERT into _temp_log (rev, date, object) values (?, ?, ?)"

May need to be changed to:
"INSERT into _temp_log (rev, date, object) values (?, ?, _binary ?)"

I made the change in both INSERT statements and I don't see the error me